<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple.Data.Access.Test.Properties.Settings.Access2003ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Data\Access2003TestDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="Simple.Data.Access.Test.Properties.Settings.Access2007ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\Data\Access2007TestDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Data\Access2003TestDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="Simple.Data.Access.Test.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Data\Access2003TestDatabase.mdb"
            providerName="System.Data.OleDb" />
        <add name="Access2003"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\Data\Access2003TestDatabase.mdb" />
      <add name="Access2007"
    connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\Data\Access2007TestDatabase.accdb" />
    </connectionStrings>
</configuration>